<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Executeable" value="NetCore.SampleApp.dll"/>
    <add key="ServiceName" value="SampleAppService"/>
    <add key="PingInterval" value="0:0:0:0.100"/>
    <add key="AutoRestart" value="false"/>
  </appSettings>
</configuration>